<!doctype html>
{% extends 'CodeDaisApp/base.html'%}

{% block body %}
{% load static %}
<center>
    <br>
    <h3>Courses</h3><hr>
</center>

<div class="container text-center" style="padding-top: 20px;">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 336px;">
                <img src="{% static 'image/Database.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mastering Databases: From Basics to Advanced</h5>
                    <p class="card-text">Unlock the power of data with our comprehensive Database course. Designed for
                        beginners and
                        experienced developers alike, this course covers everything from fundamental database concepts
                        to advanced
                        database management techniques.</p>
                    <a href="https://youtube.com/playlist?list=PL2xJLI2ps3vj7pQ-6kPIFbKSjQvd8cHHP&si=TzWdqavOouS8S88x"
                        class="btn btn-primary btn-sm">Go to course</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 336px;">
                <img src="{% static 'image/Numpy.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mastering Data Manipulation with NumPy</h5>
                    <p class="card-text">Dive into the world of numerical computing with our comprehensive NumPy course.
                        NumPy is a fundamental library for scientific computing in Python, offering powerful tools for
                        data manipulation, mathematical operations, and array processing.</p>
                    <a href="https://youtube.com/playlist?list=PL2xJLI2ps3vicawoH0SODfymksMgZiz5f&si=5piUfTMo_QjLUEjk"
                        class="btn btn-primary btn-sm">Go to course</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 336px; height: 490px;">
                <img src="{% static 'image/CSS Advance.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mastering CSS: Styling the Web</h5>
                    <p class="card-text">Transform your web development skills with our comprehensive CSS (Cascading
                        Style Sheets) course. CSS is essential for designing visually appealing and responsive websites.
                        This course will take you from the basics to advanced techniques.</p>
                    <a href="https://youtube.com/playlist?list=PL2xJLI2ps3vg6MectQSU4Cex2zcSp191-&si=MJnvG_Mm44MHVpRE"
                        class="btn btn-primary btn-sm" style="margin-top: 20px;">Go to course</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container text-center" style="padding-top: 20px; margin-bottom: 20px;">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 336px;">
                <img src="{% static 'image/Html.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mastering HTML: The Foundation of Web Development</h5>
                    <p class="card-text">Learn the fundamentals of web development with our comprehensive HTML
                        (Hypertext Markup Language) course.HTML is the building block of the web, enabling you to create
                        structured and accessible web pages.</p>
                    <a href="https://youtube.com/playlist?list=PL2xJLI2ps3vg3YfvO1cojXQzZiE2N0Ol9&si=jpILXbVmCEoI1Top"
                        class="btn btn-primary btn-sm">Go to course</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 336px;">
                <img src="{% static 'image/Roadmap.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">FullStack-RoadMap 2024</h5>
                    <p class="card-text">becoming a Full-Stack Python Developer entails mastering both front-end and
                        back-end development, database management, and DevOps practices. By following this roadmap,
                        continuously learning, and gaining practical experience through projects.</p>
                    <a href="https://youtube.com/playlist?list=PL2xJLI2ps3vj54PJaKWQXf88VKV70JLWf&si=koLvRzl1nWM_fr-7" class="btn btn-primary btn-sm">Go to course</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 336px; height: 470px;">
                <img src="{% static 'image/python.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Python: From Basics to Advanced</h5>
                    <p class="card-text">Embark on a journey into the world of programming with our comprehensive Python
                        course. Python is a versatile and beginner-friendly language used in web development, data
                        analysis, artificial intelligence, and more..</p>
                    <a href="https://youtube.com/playlist?list=PL2xJLI2ps3vhnNOSk7XGPJ5dSvSTi3OKE&si=uWDfnkDrwVw2QNkd" class="btn btn-primary btn-sm" style="margin-top: 17px;">Go to course</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}